<section>
  <% @users.each do |user| %>
    <div class="user-card">
    #   <img class="image-user">
      <div>
        <h2><%=user.Name%></h2>
        <p>Number of posts: <%=user.PostsCounter || 0%></p>
      </div>
    </div>
    <%end%>
</section>